<div>
<div class="clr-row">
  <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
      <div class="card">
          <h3 class="card-header">Header</h3>
          <div class="card-block">
              <h4 class="card-title">Block</h4>
              <div class="card-text">
                  ...
              </div>
          </div>
          <div class="card-footer">
              <button class="btn btn-sm btn-link">Footer Action 1</button>
              <button class="btn btn-sm btn-link">Footer Action 2</button>
          </div>
      </div>
  </div>
</div>

<select clrSelect name="options">
  <option value="one">One</option>
  <option value="two">Two</option>
  <option value="three">Three</option>
</select>

<clr-select-container>
  <label>I've got some options</label>
  <select clrSelect name="options">
    <option value="one">One</option>
    <option value="two">Two</option>
    <option value="three">Three</option>
  </select>
</clr-select-container>

<button class="btn btn-primary">Primary</button>
<button class="btn btn-success">Success</button>
<button class="btn btn-warning">Warning</button>
<button class="btn btn-danger">Danger</button>
<button class="btn btn-danger" disabled>Disabled</button>

<button class="btn btn-primary btn-block">Primary</button>
<button class="btn btn-success btn-block">Success</button>